

.actividades { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

.container-actividades { 

display: flex;
flex-wrap: wrap;
background:url(/images/bg-yellow.webp);
padding: 20px;
width: 90%;
justify-content: space-around;
align-items: center;
gap: 20px;

.btn { background-color: $blue; border: $yellow;}

div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, 0.762);
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    width: 230px;
    height: 330px;
    color: white;
    
    
}

}


}


@media  screen and (max-width: 600px) { 

    .container-actividades div { 
      width: 250px;
    }

    } 

/* 
    .flip-card {
       
        width: 400px;
        height: 350px;
       animation-name: example;
        animation-duration: 10s; 
        margin: 20px;

h3 { line-height: 0.2;}

      } */
      
   /*    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
       
      } */
      
     /*  .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      } */
      /* 
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      } */
      
    
      
      .flip-card-back {
     
    /*     transform: rotateY(180deg); */

        li { 
           line-height: 0.5; 
            color: white;
            transition: 0.5s;
            padding: 10px;
            box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
            border-radius: 24px 24px 24px 24px;
            -webkit-border-radius: 24px 24px 24px 24px;
            -moz-border-radius: 24px 24px 24px 24px;
           }
      }
    
