.beneficios { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   

    img { width:100px; padding-bottom: 10px;}

.flex-column { justify-content: center;
    align-items: center;
     min-height: 400px; 
     p { margin: 20px;
         text-align: center;
        }  
    }
.about { max-width: 600px; 
    display:flex;
    align-items:baseline ;
     flex-direction: column; 
     justify-content: flex-end;
   
     padding: 50px;
    }

.container-beneficios{ 

display: flex;
flex-wrap: wrap;
width: 100px;
/* background: url(/images/bg-yellow.webp);
 */padding: 40px;
width: 100%;
justify-content: space-around;
align-items: center;



div { 

    background: rgba(242, 239, 239, 0.762);
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    padding: 10px;
    width: 400px;
    height: 300px;
    color: white;
    margin: 10px;
    height: auto;
}

p { font-size: 32px; line-height: 2rem;}

}

.btn { background-color: $blue; border: $yellow;}

}

@media only screen and (max-width: 500px) { 
.beneficios { flex-wrap: wrap;}

} 