 .hero {
   /*  position: relative; */
.img-mobile { display: none;}

img { box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);}
  
 }

  
/*   .hero-content {

        position: relative;
        font-size: 18px;
    width: 200px;
  bottom: 160px;
  left: 5%;
        color: white;
        
  }  
 */
  @media  screen and (max-width: 600px) {
  

.hero { 


.img-desktop { display: none; }

.img-mobile{ display: block;}



}

  }
