 .hero {
    //position: relative;
.img-mobile { display: none;}

img { box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);}
  
 }

  
/*  .hero-container .content {
    position: absolute; /
    bottom: -250px; 
    right: 50px;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%;
    padding: 20px; 
    font-size: 45px;
  }  */
;
  @media  screen and (max-width: 600px) {
  

.hero { 


.img-desktop { display: none; }

.img-mobile{ display: block;}



}

  }
