.layout { 
width: 100%;
display: grid;
grid-template-columns: repeat(7,1fr)  ;
grid-template-rows:   repeat(13,auto);
grid-template-areas:    
    'menu          menu          menu          menu          menu          menu          menu '
    'hero          hero          hero          hero          hero          hero          hero'
    'horarios      horarios      horarios     horarios    horarios   horarios  horarios'
    'actividades   actividades   actividades   actividades   actividades   actividades   actividades '  
    'galeria-clases galeria-clases galeria-clases galeria-clases galeria-clases galeria-clases galeria-clases '
    'instalaciones instalaciones instalaciones instalaciones instalaciones instalaciones instalaciones'
    'planes planes planes planes planes planes planes' 
    'beneficios    beneficios    beneficios    beneficios    beneficios    beneficios    beneficios'
    'galeria       galeria       galeria       galeria        galeria        galeria        galeria'
    'imc           imc           imc           imc             imc          imc           imc      '
    'contacto      contacto      contacto      contacto      contacto      contacto      contacto'
    'sitemap       sitemap       sitemap       sitemap       sitemap       sitemap       sitemap'
    'footer        footer        footer        footer        footer        footer        footer';
gap: 50px;
}


.header { 

    grid-area: menu;
    background: $yellow;

}

.hero { 
    grid-area: hero;
    justify-content: center;
   
}

.horarios { 
    grid-area: horarios; /* background: url(/images/bg-yellow.webp); */
    height: auto;  
        .row{
            padding: 10px;
            box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
            border-radius: 24px 24px 24px 24px;
            -webkit-border-radius: 24px 24px 24px 24px;
            -moz-border-radius: 24px 24px 24px 24px;
            background-color: $blue;

    li { color: $yellow; pointer-events: none; }
    h2 {color: white;}
  }  }

.actividades { 
    grid-area: actividades;
  

}
.galeria-clases { grid-area: galeria-clases;}
.instalaciones { 
    grid-area: instalaciones;
}

.planes { 
    grid-area: planes;
}
.beneficios {
    grid-area: beneficios;

    
}
.galeria { 

    grid-area: galeria;
}
.imc { 
    grid-area: imc;
}
.contacto{
    grid-area: contacto;
    background: $blue;
    padding: 20px;
}
.sitemap{
    grid-area: sitemap;
    background: url(/images/bg-yellow.webp)
}
.footer{
    grid-area: footer;
    background: $yellow;
}